openapi: 3.0.3
info:
  title: Universal Notification Hub
  description: API for Universal Notification Hub
  version: 1.0.0
servers:
  - url: http://unh.local-devl.agilopshub.com
paths:
  /v1/livez:
    get:
      tags:
        - server
      summary: Liveness
      description: API to check liveness of HTTP server
      responses:
        "200":
          description: OK
        "503":
          description: Service Unavailable
  /v1/readyz:
    get:
      tags:
        - server
      summary: Readiness
      description: API to check readiness of HTTP server
      responses:
        '200':
          description: OK
        "503":
          description: Service Unavailable
  /v1/admin/notification_template:
    post:
      tags:
        - admin
      summary: Create Notification Template
      description: API to create a new notification template
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email_notification:
                  type: object
                  properties:
                    channel_id:
                      type: string
                    subject:
                      type: string
                    body:
                      type: string
                push_notification:
                  type: object
                  properties:
                    channel_id:
                      type: string
                    title:
                      type: string
                    body:
                      type: string
                    image_url:
                      type: string
                custom_notification:
                  type: array
                  items:
                    type: object
                    properties:
                      param_id:
                        type: string
                      param_value:
                        type: string
                distribution_list_id:
                  type: string
              required:
                - name
              example:
                name: new notification template
                email_notification:
                  channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                  subject: test email subject
                  body: test email body
                push_notification:
                  channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                  title: test message title
                  body: test message body
                  image_url: https://mssfoobar.github.io/docs/img/logo.png
                custom_notification:
                  - param_id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                    param_value: 0123456789
                  - param_id: 23ba7e7a-e514-4185-a410-576416ff2d54
                    param_value: abcdefg
                distribution_list_id: b5d08d97-48f4-4000-8588-46d48c417bf8
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      email_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          subject:
                            type: string
                          body:
                            type: string
                      push_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          title:
                            type: string
                          body:
                            type: string
                          image_url:
                            type: string
                      custom_notification:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            endpoint:
                              type: string
                            parameters:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  param_id:
                                    type: string
                                  param_name:
                                    type: string
                                  param_value:
                                    type: string
                      distribution_list_id:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
              example:
                data:
                  id: dcbfbcce-d289-40fa-85c5-a54963f577e5
                  name: notification template
                  email_notification:
                    channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                    subject: test email subject
                    body: test email body
                  push_notification:
                    channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                    title: test message title
                    body: test message body
                    image_url: https://mssfoobar.github.io/docs/img/logo.png
                  custom_notification:
                    - id: 90d174c4-2687-4835-b066-e58d7536dd45
                      name: new in-app channel
                      endpoint: http://mssfoobar/in-app/send
                      parameters:
                        - id: 53a55653-c4d2-48f4-901e-0b447c74bf64
                          param_id: 23ba7e7a-e514-4185-a410-576416ff2d54
                          param_name: parameter 2
                          param_value: abcdefg
                        - id: 0b830cd6-a978-455b-8f34-d658e1ed4831
                          param_id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                          param_name: parameter 1
                          param_value: '0123456789'
                  distribution_list_id: b5d08d97-48f4-4000-8588-46d48c417bf8
                  created_at: '2024-09-03T03:39:49.12377Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:39:49.12377Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:39:49Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:40:22Z'
                errors:
                  - message: >-
                      notification template with name 'notification template'
                      already exists
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    get:
      tags:
        - admin
      summary: List Notification Templates
      description: >-
        API to list Notification Templates by pagination in query parameters.
        If no query parameters are specified, default to page 1 with 10 items.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
          example: 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
          example: 10
        - in: query
          name: sort
          schema:
            type: string
          description: >- 
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
          example: sort=column1,asc&sort=column2,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        email_notification:
                          type: object
                          properties:
                            channel_id:
                              type: string
                            subject:
                              type: string
                            body:
                              type: string
                        push_notification:
                          type: object
                          properties:
                            channel_id:
                              type: string
                            title:
                              type: string
                            body:
                              type: string
                            image_url:
                              type: string
                        custom_notification:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              endpoint:
                                type: string
                              parameters:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    param_id:
                                      type: string
                                    param_name:
                                      type: string
                                    param_value:
                                      type: string
                        distribution_list_id:
                          type: string
                        created_at:
                          type: string
                        created_by:
                          type: string
                        updated_at:
                          type: string
                        updated_by:
                          type: string
                        tenant_id:
                          type: string
                        occ_lock:
                          type: number
                  sent_at:
                    type: string
                  page:
                    type: object
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      total_records:
                        type: number
              example:
                data:
                  - id: dcbfbcce-d289-40fa-85c5-a54963f577e5
                    name: notification template 1
                    email_notification:
                      channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                      subject: test email subject
                      body: test email body
                    push_notification:
                      channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                      title: test message title
                      body: test message body
                      image_url: https://mssfoobar.github.io/docs/img/logo.png
                    custom_notification:
                      - id: 90d174c4-2687-4835-b066-e58d7536dd45
                        name: new in-app channel
                        endpoint: http://mssfoobar/in-app/send
                        parameters:
                          - id: 53a55653-c4d2-48f4-901e-0b447c74bf64
                            param_id: 23ba7e7a-e514-4185-a410-576416ff2d54
                            param_name: parameter 2
                            param_value: abcdefg
                          - id: 0b830cd6-a978-455b-8f34-d658e1ed4831
                            param_id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                            param_name: parameter 1
                            param_value: '0123456789'
                    distribution_list_id: b5d08d97-48f4-4000-8588-46d48c417bf8
                    created_at: '2024-09-03T03:39:49.12377Z'
                    created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    updated_at: '2024-09-03T03:39:49.12377Z'
                    updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                    occ_lock: 0
                sent_at: '2024-09-03T05:11:57Z'
                page:
                  number: 1
                  size: 10
                  total_records: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: invalid page number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/notification_template/{template_id}:
    get:
      tags:
        - admin
      summary: Get Notification Template By Id
      description: API to get notification template by Id
      parameters:
        - name: template_id
          in: path
          schema:
            type: string
          required: true
          example: dcbfbcce-d289-40fa-85c5-a54963f577e5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      email_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          subject:
                            type: string
                          body:
                            type: string
                      push_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          title:
                            type: string
                          body:
                            type: string
                          image_url:
                            type: string
                      custom_notification:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            endpoint:
                              type: string
                            parameters:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  param_id:
                                    type: string
                                  param_name:
                                    type: string
                                  param_value:
                                    type: string
                      distribution_list_id:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
              example:
                data:
                  id: dcbfbcce-d289-40fa-85c5-a54963f577e5
                  name: notification template
                  email_notification:
                    channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                    subject: test email subject
                    body: test email body
                  push_notification:
                    channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                    title: test message title
                    body: test message body
                    image_url: https://mssfoobar.github.io/docs/img/logo.png
                  custom_notification:
                    - id: 90d174c4-2687-4835-b066-e58d7536dd45
                      name: new in-app channel
                      endpoint: http://mssfoobar/in-app/send
                      parameters:
                        - id: 53a55653-c4d2-48f4-901e-0b447c74bf64
                          param_id: 23ba7e7a-e514-4185-a410-576416ff2d54
                          param_name: parameter 2
                          param_value: abcdefg
                        - id: 0b830cd6-a978-455b-8f34-d658e1ed4831
                          param_id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                          param_name: parameter 1
                          param_value: '0123456789'
                  distribution_list_id: b5d08d97-48f4-4000-8588-46d48c417bf8
                  created_at: '2024-09-03T03:39:49.12377Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:39:49.12377Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T05:11:57Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: >-
                      notification template id
                      'dcbfbcce-d289-40fa-85c5-a54963f577e5' not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    put:
      tags:
        - admin
      summary: Edit Notification Template
      description: API to update notification template by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email_notification:
                  type: object
                  properties:
                    channel_id:
                      type: string
                    subject:
                      type: string
                    body:
                      type: string
                push_notification:
                  type: object
                  properties:
                    channel_id:
                      type: string
                    title:
                      type: string
                    body:
                      type: string
                    image_url:
                      type: string
                custom_notification:
                  type: array
                  items:
                    type: object
                    properties:
                      param_id:
                        type: string
                      param_value:
                        type: string
                distribution_list_id:
                  type: string
                occ_lock:
                  type: integer
              example:
                name: test template
                email_notification:
                  channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                  subject: test email subject
                  body: test email body
                push_notification:
                  channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                  title: test message title
                  body: test message body
                  image_url: https://mssfoobar.github.io/docs/img/logo.png
                custom_notification:
                  - param_id: 209ef790-3624-499a-8a99-645307749dcc
                    param_value: asfafs
                distribution_list_id: 54955247-5a5a-40af-bc9e-7dda17957c35
                occ_lock: 0
      parameters:
        - name: template_id
          in: path
          schema:
            type: string
          required: true
          example: e78a11cb-72aa-43ab-8e5e-86e7f9ca11ef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      email_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          subject:
                            type: string
                          body:
                            type: string
                      push_notification:
                        type: object
                        properties:
                          channel_id:
                            type: string
                          title:
                            type: string
                          body:
                            type: string
                          image_url:
                            type: string
                      custom_notification:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          endpoint:
                            type: string
                          parameters:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                param_id:
                                  type: string
                                param_name:
                                  type: string
                                param_value:
                                  type: string
                      distribution_list_id:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
              example:
                data:
                  id: dcbfbcce-d289-40fa-85c5-a54963f577e5
                  name: notification template
                  email_notification:
                    channel_id: b0d386ad-ca22-44c7-9a13-dbaa8306e03a
                    subject: test email subject
                    body: test email body
                  push_notification:
                    channel_id: eafd7d51-5c3a-4ffa-b09c-f25ab1ee3fd8
                    title: test message title
                    body: test message body
                    image_url: https://mssfoobar.github.io/docs/img/logo.png
                  custom_notification:
                    - id: 90d174c4-2687-4835-b066-e58d7536dd45
                      name: new in-app channel
                      endpoint: http://mssfoobar/in-app/send
                      parameters:
                        - id: 85ad3e76-d029-4254-82e9-11613acd1fd7
                          param_id: 23ba7e7a-e514-4185-a410-576416ff2d54
                          param_name: parameter 2
                          param_value: abcdefg
                        - id: c68dd6a5-9c5c-4199-923f-293574957b8a
                          param_id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                          param_name: parameter 1
                          param_value: '0123456789'
                  distribution_list_id: b5d08d97-48f4-4000-8588-46d48c417bf8
                  created_at: '2024-09-03T03:39:49.12377Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T05:17:16.142824Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 1
                sent_at: '2024-09-03T05:17:16Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: >-
                      notification template id
                      'dcbfbcce-d289-40fa-85c5-a54963f577e5' not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    delete:
      tags:
        - admin
      summary: Delete Notification Template
      description: API to delete notification template by ID
      parameters:
        - name: template_id
          in: path
          schema:
            type: string
          required: true
          example: dcbfbcce-d289-40fa-85c5-a54963f577e5
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-08-14T10:42:49Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: >-
                      notification template id
                      'dcbfbcce-d289-40fa-85c5-a54963f577e5' not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-08-14T10:42:49Z'
  /v1/admin/email_channel:
    post:
      tags:
        - unh
      summary: Create Email Channel
      description: API to register a new email channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                password:
                  type: string
                host:
                  type: string
                port:
                  type: number
              example:
                name: new smtp channel
                username: example@mail.com
                password: example
                host: http://smtp.example.com
                port: 3000
              required:
                - name
                - username
                - password
                - host
                - port
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      username:
                        type: string
                      password:
                        type: string
                      host:
                        type: string
                      port:
                        type: number
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new smtp channel
                  username: example@mail.com
                  password: example
                  host: http://smtp.example.com
                  port: 3000
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:00:15Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:01:07Z'
                errors:
                  - message: >-
                      email channel with name 'new smtp channel' already
                      exists
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    get:
      tags:
        - admin
      summary: List Email Channels
      description: >-
        API to list Email Channels by pagination in query parameters.
        If no query parameters are specified, default to page 1 with 10 items.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
          example: 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
          example: 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
          example: sort=column1,asc&sort=column2,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        username:
                          type: string
                        password:
                          type: string
                        host:
                          type: string
                        port:
                          type: number
                        created_at:
                          type: string
                        created_by:
                          type: string
                        updated_at:
                          type: string
                        updated_by:
                          type: string
                        tenant_id:
                          type: string
                        occ_lock:
                          type: integer
                  sent_at:
                    type: string
                  page:
                    type: object
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      total_records:
                        type: number
              example:
                data:
                  - id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                    name: new smtp channel
                    username: example@mail.com
                    password: example
                    host: http://smtp.example.com
                    port: 3000
                    created_at: '2024-09-03T03:00:15.571118Z'
                    created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    updated_at: '2024-09-03T03:00:15.571118Z'
                    updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                    occ_lock: 0
                sent_at: '2024-09-03T05:11:57Z'
                page:
                  number: 1
                  size: 10
                  total_records: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: invalid page number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/email_channel/{channel_id}:
    get:
      tags:
        - unh
      summary: Get Email Channel
      description: API to get a email channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce211
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      username:
                        type: string
                      password:
                        type: string
                      host:
                        type: string
                      port:
                        type: number
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new smtp channel
                  username: example@mail.com
                  password: example
                  host: http://smtp.example.com
                  port: 3000
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:04:17Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      email channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    put:
      tags:
        - unh
      summary: Edit Custom Channel
      description: API to edit a custom channel by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                endpoint:
                  type: string
                occ_lock:
                  type: integer
              example:
                name: new in-app channel
                endpoint: http://mssfoobar/v2/in-app/notification/send
                occ_lock: 0
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of email channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      username:
                        type: string
                      password:
                        type: string
                      host:
                        type: string
                      port:
                        type: number
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new smtp channel
                  username: example@mail.com
                  password: example
                  host: http://smtp.example.com
                  port: 3000
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:06:48.592972Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 1
                sent_at: '2024-09-03T03:06:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      email channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    delete:
      tags:
        - unh
      summary: Delete Email Channel
      description: API to delete a email channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of email channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T03:09:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      email channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/push_channel:
    post:
      tags:
        - unh
      summary: Create Push Notification Channel
      description: API to register a new push notification channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                service_account_key:
                  type: object
              example:
                name: new fcm channel
                service_account_key: {
                  "type": "service_account",
                  "project_id": "example",
                  "private_key_id": "example",
                  "private_key": "-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----\n",
                  "client_email": "example",
                  "client_id": "example",
                  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                  "token_uri": "https://oauth2.googleapis.com/token",
                  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/example",
                  "universe_domain": "example.com"
                }
              required:
                - name
                - service_account_key
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      service_account_key:
                        type: object
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new fcm channel
                  service_account_key: {
                    "type": "service_account",
                    "project_id": "example",
                    "private_key_id": "example",
                    "private_key": "-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----\n",
                    "client_email": "example",
                    "client_id": "example",
                    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                    "token_uri": "https://oauth2.googleapis.com/token",
                    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/example",
                    "universe_domain": "example.com"
                  }
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:00:15Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:01:07Z'
                errors:
                  - message: >-
                      push notification channel with name 'new fcm channel' already
                      exists
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    get:
      tags:
        - admin
      summary: List Push Notification Channels
      description: >-
        API to list Push Notification Channels by pagination in query parameters.
        If no query parameters are specified, default to page 1 with 10 items.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
          example: 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
          example: 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
          example: sort=column1,asc&sort=column2,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        service_account_key:
                          type: object
                        created_at:
                          type: string
                        created_by:
                          type: string
                        updated_at:
                          type: string
                        updated_by:
                          type: string
                        tenant_id:
                          type: string
                        occ_lock:
                          type: integer
                  sent_at:
                    type: string
                  page:
                    type: object
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      total_records:
                        type: number
              example:
                data:
                  - id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                    name: new fcm channel
                    service_account_key: {
                      "type": "service_account",
                      "project_id": "example",
                      "private_key_id": "example",
                      "private_key": "-----BEGIN PRIVATE KEY-----\nexample\n-----END PRIVATE KEY-----\n",
                      "client_email": "example",
                      "client_id": "example",
                      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                      "token_uri": "https://oauth2.googleapis.com/token",
                      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/example",
                      "universe_domain": "example.com"
                    }
                    created_at: '2024-09-03T03:00:15.571118Z'
                    created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    updated_at: '2024-09-03T03:00:15.571118Z'
                    updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                    occ_lock: 0
                sent_at: '2024-09-03T05:11:57Z'
                page:
                  number: 1
                  size: 10
                  total_records: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: invalid page number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/push_channel/{channel_id}:
    get:
      tags:
        - unh
      summary: Get Push Notification Channel
      description: API to get a push notification channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of push notification channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce211
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      service_account_key:
                        type: object
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new smtp channel
                  service_account_key: {
                    "type": "service_account",
                    "project_id": "example",
                    "private_key_id": "example",
                    "private_key": "-----BEGIN PRIVATE KEY-----\nexample\n-----END PRIVATE KEY-----\n",
                    "client_email": "example",
                    "client_id": "example",
                    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                    "token_uri": "https://oauth2.googleapis.com/token",
                    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/example",
                    "universe_domain": "example.com"
                  }
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:04:17Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      push notification channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    put:
      tags:
        - unh
      summary: Edit Push Notification Channel
      description: API to edit a push notification channel by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                endpoint:
                  type: string
                occ_lock:
                  type: integer
              example:
                name: new in-app channel
                endpoint: http://mssfoobar/v2/in-app/notification/send
                occ_lock: 0
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of push notification channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      username:
                        type: string
                      password:
                        type: string
                      host:
                        type: string
                      port:
                        type: number
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new smtp channel
                  username: example@mail.com
                  password: example
                  host: http://smtp.example.com
                  port: 3000
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:06:48.592972Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 1
                sent_at: '2024-09-03T03:06:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      push notification channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    delete:
      tags:
        - unh
      summary: Delete Push Notification Channel
      description: API to delete a push notification channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of push notification channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T03:09:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      push notification channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/custom_channel:
    post:
      tags:
        - unh
      summary: Create Custom Channel
      description: API to register a new custom channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                endpoint:
                  type: string
              example:
                name: new in-app channel
                endpoint: http://mssfoobar/in-app/send
              required:
                - name
                - endpoint
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      endpoint:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new in-app channel
                  endpoint: http://mssfoobar/in-app/send
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:00:15Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:01:07Z'
                errors:
                  - message: >-
                      custom channel with name 'new in-app channel' already
                      exists
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    get:
      tags:
        - admin
      summary: List Custom Channels
      description: >-
        API to list Custom Channels by pagination in query parameters.
        If no query parameters are specified, default to page 1 with 10 items.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
          example: 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
          example: 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
          example: sort=column1,asc&sort=column2,desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        endpoint:
                          type: string
                        created_at:
                          type: string
                        created_by:
                          type: string
                        updated_at:
                          type: string
                        updated_by:
                          type: string
                        tenant_id:
                          type: string
                        occ_lock:
                          type: integer
                  sent_at:
                    type: string
                  page:
                    type: object
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      total_records:
                        type: number
              example:
                data:
                  - id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                    name: new in-app channel
                    endpoint: http://mssfoobar/in-app/send
                    created_at: '2024-09-03T03:00:15.571118Z'
                    created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    updated_at: '2024-09-03T03:00:15.571118Z'
                    updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                    tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                    occ_lock: 0
                sent_at: '2024-09-03T05:11:57Z'
                page:
                  number: 1
                  size: 10
                  total_records: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T05:12:51Z'
                errors:
                  - message: invalid page number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/custom_channel/{channel_id}:
    get:
      tags:
        - unh
      summary: Get Custom Channel
      description: API to get a custom channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of custom channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce211
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      endpoint:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new in-app channel
                  endpoint: http://mssfoobar/in-app/send
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:00:15.571118Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:04:17Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      custom channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    put:
      tags:
        - unh
      summary: Edit Custom Channel
      description: API to edit a custom channel by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                endpoint:
                  type: string
                occ_lock:
                  type: integer
              example:
                name: new in-app channel
                endpoint: http://mssfoobar/v2/in-app/notification/send
                occ_lock: 0
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of custom channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      endpoint:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
                  name: new in-app channel
                  endpoint: http://mssfoobar/v2/in-app/notification/send
                  created_at: '2024-09-03T03:00:15.571118Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:06:48.592972Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 1
                sent_at: '2024-09-03T03:06:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      custom channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
    delete:
      tags:
        - unh
      summary: Delete Custom Channel
      description: API to delete a custom channel by Id
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of custom channel
          example: 3a3b5bf1-639f-4575-8fc8-185ee0fce21a
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T03:09:48Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:08:32Z'
                errors:
                  - message: >-
                      custom channel id '3a3b5bf1-639f-4575-8fc8-185ee0fce21a'
                      not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
              example:
                sent_at: '2024-09-03T02:47:05Z'
  /v1/admin/custom_channel/{channel_id}/parameter:
    post:
      tags:
        - unh
      summary: Create Custom Channel Parameter
      description: API to create a new parameter for the custom channel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                regexp_validation:
                  type: string
              example:
                name: parameter 2
                description: alphabet input
                regexp_validation: /^[A-Za-z]+$/
              required:
                - name
      parameters:
        - name: channel_id
          in: path
          schema:
            type: string
          required: true
          description: ID of custom channel
          example: 90d174c4-2687-4835-b066-e58d7536dd45
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      regexp_validation:
                        type: string
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: integer
                  sent_at:
                    type: string
              example:
                data:
                  id: 0c87508c-0a36-4210-b347-ddf358fcd5bc
                  custom_channel_id: 90d174c4-2687-4835-b066-e58d7536dd45
                  name: parameter 1
                  description: number input
                  regexp_validation: ^[0-9]*$
                  created_at: '2024-09-03T03:13:40.023453Z'
                  created_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  updated_at: '2024-09-03T03:13:40.023453Z'
                  updated_by: 00f92e3f-7f5c-4c9d-96b8-7f9121c3e013
                  tenant_id: b8766c9d-d71e-46a2-968b-552dea1a7cd2
                  occ_lock: 0
                sent_at: '2024-09-03T03:13:40Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T03:15:26Z'
                errors:
                  - message: custom parameter with name 'parameter 1' already exists
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: '2024-09-03T02:46:13Z'
                errors:
                  - message: >-
                      failed to parse jwt: token contains an invalid number of
                      segments
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
[...]
