openapi: 3.0.3
info:
  title: Workflow Management
  version: 1.0.0
  description: API for workflow managment
servers:
  - url: http://wfm.dev2.ar2
paths:
  /v1/livez:
    get:
      tags:
        - server
      summary: 1. Liveness
      description: API to check liveness of HTTP server
      responses:
        "200":
          description: OK
        "503":
          description: Service Unavailable
  /v1/readyz:
    get:
      tags:
        - server
      summary: 2. Readiness
      description: API to check readiness of HTTP server
      responses:
        '200':
          description: OK
        "503":
          description: Service Unavailable
  /v1/workflow_template/save:
    put:
      tags:
        - workflow_template
      summary: 3. Save workflow template
      description: API to save workflow template. Saved workflow templates are editable.
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                workflow_json:
                  type: object
                designer_json:
                  type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      workflow_json:
                        type: object
                      designer_json:
                        type: object
                      editable:
                        type: boolean
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow_template/publish:
    put:
      tags:
        - workflow_template
      summary: 4. Publish workflow template
      description: API to publish workflow template. Published workflow templates are not editable.
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                workflow_json:
                  type: object
                designer_json:
                  type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                      workflow_json:
                        type: object
                      designer_json:
                        type: object
                      editable:
                        type: boolean
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow_template:
    get:
      tags:
        - workflow_template
      summary: 5. List workflow templates
      description: >-
        API to list workflow templates by pagination in query parameters.
        If no query parameters are specified, default to page 1 with 10 items.
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          type: object
                          properties:
                            name:
                              type: string
                            workflow_json:
                              type: object
                            designer_json:
                              type: object
                            editable:
                              type: boolean
                            created_at:
                              type: string
                            created_by:
                              type: string
                            updated_at:
                              type: string
                            updated_by:
                              type: string
                            tenant_id:
                              type: string
                            occ_lock:
                              type: number
                  sent_at:
                    type: string
                  page:
                    type: object
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      total_records:
                        type: number
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow_template/{template_id}:
    post:
      tags:
        - workflow_template
      summary: 6. Get workflow template
      description: API to retrieve workflow template by id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - name: template_id
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      workflow_json:
                        type: object
                      designer_json:
                        type: object
                      editable:
                        type: boolean
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                      occ_lock:
                        type: number
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
    delete:
      tags:
        - workflow_template
      summary: 7. Delete workflow template
      description: API to delete workflow template by id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - name: template_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow:
    post:
      tags:
        - workflow
      summary: 8. Start workflow execution
      description: API to start workflow execution
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template_id:
                  type: string
                incident_id:
                  type: string
              required:
                - template_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      workflow_id:
                        type: string
                      workflow_run_id:
                        type: string
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
    get:
      tags:
        - workflow
      summary: 9. Get workflow execution list
      description: API to get running workflow executions
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            workflow_id:
                              type: string
                            workflow_run_id:
                              type: string
                            start_time:
                              type: string
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow/{workflow_id}:
    get:
      tags:
        - workflow
      summary: 10. Get workflow execution state history
      description: API to get workflow execution state history by Id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - in: path
          name: workflow_id
          schema:
            type: string
          required: true
        - in: query
          name: page
          schema:
            type: integer
          description: page number to offset results, default to 1
        - in: query
          name: size
          schema:
            type: integer
          description: number of items per page, default to 10
        - in: query
          name: sort
          schema:
            type: string
          description: >-
            column to sort on and order by (asc, desc).
            If no order is specified, defaults to desc.
            For multiple columns sorting, separate each value with '&'.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      workflow_id:
                        type: string
                      workflow_run_id:
                        type: string
                      activity_name:
                        type: string
                      activity_type:
                        type: string
                      data:
                        type: object
                      created_at:
                        type: string
                      created_by:
                        type: string
                      updated_at:
                        type: string
                      updated_by:
                        type: string
                      tenant_id:
                        type: string
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
    delete:
      tags:
        - workflow
      summary: 11. Terminate workflow execution
      description: API to terminate workflow execution by Id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - in: path
          name: workflow_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
  /v1/workflow/{workflow_id}/activity_name/{activity_name}:
    post:
      tags:
        - workflow
      summary: 12. Signal workflow activity
      description: API to send data to workflow execution state by workflow id & activity name
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          required: true
          description: Bearer token
        - in: path
          name: workflow_id
          schema:
            type: string
          required: true
        - in: path
          name: activity_name
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
