openapi: 3.0.3
info:
  title: Incident Management System
  version: 1.0.0
  description: API for Incident Management System
servers:
  - url: http://ims.dev2.ar2
    description: Default server
paths:
  /v1/info/liveness:
    get:
      tags:
        - server
      summary: liveness
      description: API to check liveness of HTTP server
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: Live since 2022-09-07T23:10:32+08:00
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is down
  /v1/info/readiness:
    get:
      tags:
        - server
      summary: readiness
      description: API to check readiness of HTTP server
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: Ready since 2022-09-07T23:10:32+08:00
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
  /v1/incidents:
    get:
      tags:
        - default
      summary: Request incident info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        comments:
                          type: string
                        contact:
                          type: string
                        created_at:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                        location:
                          type: string
                        priority:
                          type: number
                        reported_by:
                          type: string
                        status:
                          type: string
                        updated_at:
                          type: string
                  sent_at:
                    type: string
              example:
                data:
                  - category: "522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a"
                    comments: "this is a comment"
                    contact: "+6512345678"
                    created_at: "2023-08-31T14:31:59.844979+00:00"
                    description: "test"
                    id: "INC-20230831-0001"
                    location: "#12-34,S123456,nowhere str"
                    priority: 4
                    reported_by: "bob"
                    status: "NEW"
                    updated_at: "2023-08-31T14:31:59.844979+00:00"
                sent_at: "2023-08-31T14:32:23Z"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
    post:
      tags:
        - default
      summary: Create incident
      description: create a new incident
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                comments:
                  type: string
                contact:
                  type: string
                description:
                  type: string
                id:
                  type: string
                location:
                  type: string
                priority:
                  type: number
                reported_by:
                  type: string
                status:
                  type: string
              required:
                - reported_by
                - contact
                - priority
            example:
              category: 522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a
              comments: this is a comment
              contact: +65 12345678
              description: test
              id: INC-20230831-0001
              location: "#12-34,S123456,nowhere str"
              priority: 4
              reported_by: bob
              status: NEW
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        comments:
                          type: string
                        contact:
                          type: string
                        created_at:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                        location:
                          type: string
                        priority:
                          type: number
                        reported_by:
                          type: string
                        status:
                          type: string
                        updated_at:
                          type: string
                  sent_at:
                    type: string
              example:
                data:
                  - category: 522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a
                    comments: this is a comment
                    contact: +65 12345678
                    created_at: 2023-08-31T14:31:59.844979+00:00
                    description: test
                    id: INC-20230831-0001
                    location: "#12-34,S123456,nowhere str"
                    priority: 4
                    reported_by: bob
                    status: NEW
                    updated_at: 2023-08-31T14:31:59.844979+00:00
                sent_at: 2023-08-31T14:31:59Z
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: invalid request body
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
  /v1/incidents/{incidentid}/:
    get:
      tags:
        - default
      summary: Request incident info by id
      parameters:
        - name: incidentid
          in: path
          schema:
            type: string
          required: true
          example: INC-20230831-0001
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        comments:
                          type: string
                        contact:
                          type: string
                        created_at:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                        location:
                          type: string
                        priority:
                          type: number
                        reported_by:
                          type: string
                        status:
                          type: string
                        updated_at:
                          type: string
                  sent_at:
                    type: string
                    example: 2023-08-31T14:33:17Z
              example:
                data:
                  - category: 522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a
                    comments: this is a comment
                    contact: +65 12345678
                    created_at: 2023-08-31T14:31:59.844979+00:00
                    description: test
                    id: INC-20230831-0001
                    location: "#12-34,S123456,nowhere str"
                    priority: 4
                    reported_by: bob
                    status: NEW
                    updated_at: 2023-08-31T14:31:59.844979+00:00
                sent_at: 2023-08-31T14:33:17Z
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
    patch:
      summary: Update incident by id
      parameters:
        - name: incidentid
          in: path
          schema:
            type: string
          required: true
          example: INC-20230831-0001
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                comments:
                  type: string
                contact:
                  type: string
                description:
                  type: string
                id:
                  type: string
                location:
                  type: string
                priority:
                  type: number
                reported_by:
                  type: string
                status:
                  type: string
            example:
              category: 522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a
              comments: this is a comment
              contact: +65 12345678
              description: test
              id: INC-20230831-0001
              location: "#12-34,S123456,nowhere str"
              priority: 4
              reported_by: bob
              status: NEW
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        comments:
                          type: string
                        contact:
                          type: string
                        created_at:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                        location:
                          type: string
                        priority:
                          type: number
                        reported_by:
                          type: string
                        status:
                          type: string
                        updated_at:
                          type: string
                        workflow_template_id:
                          type: string
                  sent_at:
                    type: string
              example:
                data:
                  - category: 522a2a00-fc84-43e0-ae1b-da6d8c8bdb1a
                    comments: this is a comment
                    contact: +65 12345678
                    created_at: 2023-08-31T14:31:59.844979+00:00
                    description: test
                    id: INC-20230831-0001
                    location: "#12-34,S123456,nowhere str"
                    priority: 4
                    reported_by: bob
                    status: NEW
                    updated_at: 2023-08-31T15:06:58.989089+00:00
                    workflow_template_id: e23b62c1-cb10-4f8a-98f2-6f8a5cae9345
                sent_at: 2023-08-31T15:06:58Z
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: invalid request body
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
  /v1/incidents/{incidentid}/updates/:
    get:
      tags:
        - default
      summary: Request incident updates
      parameters:
        - name: incidentid
          in: path
          schema:
            type: string
          required: true
          example: INC-20230831-0001
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        action_by:
                          type: string
                        action_taken:
                          type: string
                        created_at:
                          type: string
                        id:
                          type: string
                        incident_id:
                          type: string
                        update_type:
                          type: string
                        updated_at:
                          type: string
                  sent_at:
                    type: string
              example:
                data:
                  - action_by: bob
                    action_taken: investigation
                    created_at: 2023-08-30T08:30:13.637+00:00
                    id: f9cd2d8d-968a-4369-b49a-e39a91135a2a
                    incident_id: INC-20230703-0002
                    update_type: USER
                    updated_at: 2023-08-30T08:30:17.384332+00:00
                sent_at: 2023-08-31T14:38:17Z
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
    post:
      tags:
        - default
      summary: Create incident updates
      parameters:
        - name: incidentid
          in: path
          schema:
            type: string
          required: true
          example: INC-20230831-0001
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action_by:
                  type: string
                action_taken:
                  type: string
                update_type:
                  type: string
            example:
              action_by: bob
              action_taken: investigation
              update_type: USER
      responses:
        "200":
          description: /incidents/[incidentid]/updates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        action_by:
                          type: string
                        action_taken:
                          type: string
                        created_at:
                          type: string
                        id:
                          type: string
                        incident_id:
                          type: string
                        update_type:
                          type: string
                        updated_at:
                          type: string
                  sent_at:
                    type: string
                    example: 2023-08-31T14:38:55Z
              example:
                data:
                  - action_by: bob
                    action_taken: investigation
                    created_at: 2023-08-30T08:30:13.637+00:00
                    id: f9cd2d8d-968a-4369-b49a-e39a91135a2a
                    incident_id: INC-20230703-0002
                    update_type: USER
                    updated_at: 2023-08-30T08:30:17.384332+00:00
                sent_at: 2023-08-31T14:38:17Z
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: invalid request body
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent_at:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              example:
                sent_at: "2023-06-15T18:43:30Z"
                errors:
                  - message: service is not yet ready
        "503":
          description: Service Unavailable
          content:
            text/plain:
              schema:
                type: string
              examples:
                response:
                  value: service is not yet ready
